html {
    background-color:aliceblue;
}


body {
    width: 600px;
    margin: 60px auto;
    padding: 50px;
    border: 2px solid black;
    border-radius: 20px;
    background-color:azure;

}

h1 {
    font-size: 40px;
    text-align: center;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
text-align: center;
}

.column {
    float: right;
}